{
	"printWidth": 150,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all",
	"singleQuote": false,
	"semi": true,
	"importOrder": [
		"^(.*)/styles/(.*)$",
		"^(.*).module.scss$",
		"^(.*)/types/(.*)$",
		"^(.*)/lib/(.*)$",
		"^(.*)/context/(.*)$",
		"^(.*)/components/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
