{
	"printWidth": 150,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all",
	"singleQuote": false,
	"semi": true,
	"importOrder": ["^@/styles/(.*)$", "^(.*).module.scss$", "^@/type$", "^@/lib/(.*)$", "^@/services/(.*)$", "^@/components/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
