{
	"printWidth": 150,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all",
	"singleQuote": false,
	"semi": true,
	"importOrder": [
		"^@/styles/(.*)$",
		"^(.*).module.scss$",
		"^@/types/(.*)$",
		"^@/lib/(.*)$",
		"^@/services/(.*)$",
		"^@/components/(.*)$",
		"^@/assets/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
