.lightContainer {
  margin: 0.5rem;

  .light {
    position: absolute;

    width: 2rem;
    height: 2rem;

    border-radius: 50%;
  }

  .background {
    filter: blur(10px);
    -webkit-filter: blur(10px);

    .light {
      position: relative;
    }
  }
}
