$background: #111111;
$foreground: #262626;

button {
  width: 10rem;
  height: 2rem;

  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;

  color: #ffffff;

  cursor: pointer;

  border: none;
  border-radius: 0.7rem;
  background-color: $foreground;
}
