.container {
	display: flex;
	flex-direction: column;

	height: 100vh;
	width: 100%;
}

.infoText {
	font-size: 13px;
	opacity: 0.45;
	text-align: center;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100vh;
	width: 100%;

	gap: 2rem;
}

.strategyWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100vh;
	width: 100%;

	gap: 3rem;

	padding: 1rem;

	.strategyContainer {
		display: flex;
		flex-direction: row;
		gap: 1rem;

		.strategy {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;

			width: 18rem;

			padding: 0 1rem;

			border-right: 2px solid var(--foreground);

			&:last-of-type {
				border-right: none;
			}

			.infoText {
				height: 3rem;
			}
		}
	}
}

.wrapper {
	display: flex;
	flex-direction: row;

	height: 100vh;
	width: 100%;

	position: absolute;

	.left {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 18rem;
		border-right: 2px solid var(--foreground);
	}

	.right {
		width: calc(100% - (18rem + 2px));

		padding: 2rem;
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 1rem;

	.infoText {
		max-width: 40rem;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}
}

.loginButton {
	margin: 3rem 0;
}

.bridges {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	margin: 3rem 0;

	.bridge {
		display: flex;
		flex-direction: row;
		align-items: center;

		gap: 1rem;

		height: 5rem;

		padding: 1rem 1rem;

		border-radius: 1rem;

		background-color: var(--foreground);

		> div {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 0.5rem;
		}

		.checkbox {
			display: grid;
			place-content: center;

			appearance: none;

			width: 1.5em;
			height: 1.5em;

			margin: 0;

			font: inherit;

			border: 3px solid #ffffff80;
			border-radius: 0.5em;

			transform: translateY(-0.075em);

			&::before {
				content: "";
				width: 1.2em;
				height: 1.2em;

				// box-shadow: inset 1em 1em var(--form-control-color);

				background-color: #ffffff;

				transform: scale(0);
				transition: 120ms transform ease-in-out;

				border-radius: 0.3rem;

				clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
			}

			&:checked::before {
				transform: scale(1);
			}
		}
	}
}
