.container {
	position: absolute;

	display: flex;
	flex-direction: row;

	height: 100vh;
	width: 100%;

	.left {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 18rem;
		border-right: 2px solid var(--foreground);
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		height: 100vh;
		width: 100%;

		gap: 1rem;
	}

	.content {
		position: absolute;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		gap: 1rem;
	}

	.right {
		width: calc(100% - (18rem + 2px));
		height: auto;

		padding: 2rem;
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.infoText {
	font-size: 13px;
	opacity: 0.45;
	text-align: center;
	max-width: 40rem;
}
