$background: #111111;
$foreground: #262626;

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	height: 10rem;
	width: fit-content;

	padding-right: 1rem;
	border-right: #262626 2px solid;

	.groupHeader {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		gap: 1rem;

		.groupHeaderButtons {
			display: flex;
			flex-direction: row;
			align-items: center;

			gap: 1rem;
		}
	}

	&:last-child {
		border-right: none;
	}
}