$background: #111111;
$foreground: #262626;

.card {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;

  height: fit-content;
  width: fit-content;

  padding: 1rem;

  border-radius: 1rem;
  background-color: $foreground;

  cursor: pointer;

  p {
    margin: 0;
  }

  .brightness {
    opacity: 0.5;
  }
}