$background: #111111;
$foreground: #262626;

$indigo: #622aff;
$red: #e94256;
$green: #0b9e43;
$teal: #2294b1;
$fuchsia: #dd04d1;
$orange: #e2620c;
$cornflower: #0e90db;
$mahogany: #e94b1b;
$avocado: #5f9800;
$azure: #027fff;

$int-green: #24ce65;

.switch {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 3rem;
  height: 1.5rem;

  cursor: pointer;

  &[data-ison="true"] {
    justify-content: flex-end;
    background-color: $int-green;
  }

  border-radius: 10px;
  border: 2px solid #b7b7b7;
  background-color: #919191;

  .handle {
    width: 1.5rem;
    height: 1.5rem;

    border-radius: 8px;

    background-color: #ffffff;
  }
}
