@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$background: #111111;
$foreground: #262626;

$indigo: #622aff;
$red: #e94256;
$green: #0b9e43;
$teal: #2294b1;
$fuchsia: #dd04d1;
$orange: #e2620c;
$cornflower: #0e90db;
$mahogany: #e94b1b;
$avocado: #5f9800;
$azure: #027fff;

$int-green: #24CE65;

body,
html {
  font-family: 'Inter', sans-serif;

  margin: 0;
  padding: 0;

  background-color: $background;
  color: #ffffff;
}

button {
	width: 10rem;
	height: 2rem;

	margin-top: 1rem;
	margin-right: 1rem;

	color: #ffffff;

	cursor: pointer;

	border: none;
	border-radius: 0.7rem;
	background-color: $foreground;
}