$background: #111111;
$foreground: #262626;

$indigo: #622aff;
$red: #e94256;
$green: #0b9e43;
$teal: #2294b1;
$fuchsia: #dd04d1;
$orange: #e2620c;
$cornflower: #0e90db;
$mahogany: #e94b1b;
$avocado: #5f9800;
$azure: #027fff;

$int-green: #24CE65;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;

  width: fit-content;

  padding-right: 1rem;
  padding-left: 1rem;

  border-radius: 1rem;
  background-color: $foreground;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.5rem;

    .dot {
      width: 1rem;
      height: 1rem;

      border-radius: 50%;
      background-color: $int-green;

      &[data-isoffline="true"] {
        justify-content: flex-end;
        background-color: $red;
      }
    }

    p {}
  }
}
